.nav2 {
  max-height: 320px;
  overflow-y:scroll;                 
}
.active {
   font-weight: bold;
}


@media (min-width: 568px) {
  .container {
    max-width: 530px;
  }
}

.track-details { 
  clear: both; 
  height: 20px; 
  width: 448px; 
  padding: 1px 6px; 
  background: #eee; 
  color: #222; 
  font-family: monospace; 
  font-size: 11px; 
  line-height: 20px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15); 
}

.track-details:before { content: '♬ '; }

.track-details em { font-style: normal; color: #999; }